# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.out
*.class

# Ignore environment variables file
.env

# Ignore IDE and editor files
.vscode/
.idea/
*.iml

# Ignore dependency lock files
package-lock.json
yarn.lock
